<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Редактировать машину</title>
</head>

<head th:insert="blocks/head :: head"></head>

<body class="d-flex flex-column min-vh-100" style="background: url(&quot;/img/def/bg.png&quot;) top / cover;">
<div th:insert="blocks/nav :: nav"></div>
<main class="page product-page">
    <section class="clean-block clean-product">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-warning">Редактировать</h2>
            </div>
            <div class="block-content">
                <form th:action="'/autos/edit/' + ${auto.id}" method="post" enctype="multipart/form-data">
                    <div class="row" style="margin-bottom: 5px;">
                        <div class="col-12 mb-2">
                            <div class="row d-xl-flex">
                                <div class="col-xl-2 d-xl-flex">
                                    <p>Наименование</p>
                                </div>
                                <div class="col"><input class="form-control" type="text" required="" name="name"
                                                        th:value="${auto.name}"></div>
                            </div>
                        </div>
                        <div class="col-12 mb-2">
                            <div class="row">
                                <div class="col-xl-2 d-xl-flex">
                                    <p>Стоимость в сутки</p>
                                </div>
                                <div class="col"><input class="form-control" type="number" value="1" min="1" max="500"
                                                        step="1" required="" name="price" th:value="${auto.price}"></div>
                            </div>
                        </div>
                        <div class="col-12 mb-2">
                            <div class="row d-xl-flex">
                                <div class="col-xl-2 d-xl-flex">
                                    <p>Марка авто</p>
                                </div>
                                <div class="col">
                                    <select class="form-select" name="brand">
                                        <option th:each="b : ${brands}" th:value="${b}"
                                                th:label="${b.name}"
                                                th:selected="${auto.description.brand == b}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mb-2">
                            <div class="row d-xl-flex">
                                <div class="col-xl-2 d-xl-flex">
                                    <p>Класс автомобиля</p>
                                </div>
                                <div class="col">
                                    <select class="form-select" name="classes">
                                        <option th:each="f : ${classess}" th:value="${f}" th:label="${f.name}"
                                                th:selected="${auto.description.classes == f}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mb-2">
                            <div class="row">
                                <div class="col-xl-2 d-xl-flex">
                                    <p>Цвет автомобиля</p>
                                </div>
                                <div class="col">
                                    <select class="form-select" name="color">
                                        <option th:each="t : ${colors}" th:value="${t}"
                                                th:label="${t.name}"
                                                th:selected="${auto.description.color == t}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mb-2">
                            <div class="row">
                                <div class="col-xl-2 d-xl-flex">
                                    <p>Изображения</p>
                                </div>
                                <div class="col"><input class="form-control" type="file" multiple
                                                        accept="image/*" name="photos"></div>
                            </div>
                        </div>
                        <div class="col-12 mb-2">
                            <div class="row d-xl-flex">
                                <div class="col-xl-2 d-xl-flex">
                                    <p>Описание</p>
                                </div>
                                <div class="col"><input class="form-control" type="text" required="" name="description"
                                                        th:value="${auto.description.description}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 5px;">
                        <div class="col">
                            <button class="btn btn-warning" type="submit" style="margin-right: 15px;">Обновить</button>
                            <button class="btn btn-secondary" type="reset">Очистить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>

<script src="/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
<script src="/js/vanilla-zoom.js"></script>
<script src="/js/theme.js"></script>
</body>

</html>