<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Обучение</title>
</head>

<head th:insert="blocks/head :: head"></head>
<body class="d-flex flex-column min-vh-100" style="background: url(&quot;/img/def/bg.png&quot;) top / cover;">
<div th:insert="blocks/nav :: nav"></div>
<main class="page product-page">
    <section class="clean-block clean-product">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-warning">Обучение</h2>
            </div>
            <div class="block-content">
                <div class="row">
                    <div class="col-12" align="justify"><p class="lead">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Accusamus, culpa delectus! Dolore est et hic nemo officiis provident
                        recusandae tempora! Amet optio, saepe. Aut hic itaque magnam optio pariatur quaerat.</p></div>
                    <div class="col-12" align="justify"><p class="lead">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Aspernatur commodi consectetur dicta dolorum eum fugiat iure libero neque odit
                        tenetur. Doloribus fuga iste, obcaecati totam ullam veritatis? Alias, consequatur id?</p></div>
                    <div class="col-12" align="center">
                        <iframe width="75%" height="500" src="https://www.youtube.com/embed/Csq0YHDdMAc"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </div>
                    <div class="col-12" align="justify"><p class="lead">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. A ad aliquid assumenda cupiditate debitis delectus deleniti excepturi hic
                        illo, maxime nihil nobis odio officiis recusandae repellat ut, vitae voluptas, voluptates?</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script src="/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
<script src="/js/vanilla-zoom.js"></script>
<script src="/js/theme.js"></script>
</body>

</html>